.volume-selector {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 20px;
}

.volume-selector__btn {
    padding: 10px 15px;
    background-color: white;
    cursor: pointer;
    outline: none;
    width: calc(25% - 10px);
}

@media (max-width: 786px) {
    .volume-selector__btn {
        width: calc(33% - 10px);
    }
}

@media (max-width: 420px) {
    .volume-selector__btn {
        width: calc(50% - 10px);
    }

    .product-info__right__btn {
        font-size: 10px;
        padding: 0;
    }
}