.volume-selector {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 20px;
}

.volume-selector__btn {
    padding: 10px 15px;
    background-color: white;
    cursor: pointer;
    outline: none;
    width: calc(25% - 10px);
}