.product-card__img {
    width: 100%;
    height: auto;
    transition: all 0.5s ease;
}

.product-card__content {
    transition: all 0.5s ease;
}

.product-card:hover .product-card__img {
    transform: scale(0.99);
}